body {
    font-family: Verdana;
    font-size: 12px;
    color: #444;
}


h1,h2 {margin-bottom: 15px}

h1 {font-size: 50px;}
h2 {font-size: 40px}

#container {
    width: 900px;
    margin: 150px auto;
    background-color: #eee;
    overflow: hidden; /* Set overflow: hidden to clear the floats on #main and #sidebar */
    padding: 15px;
}

    #main {
        width: 590px;
        float: left;
    }

    #main table {
      width: 580px;
    }

    #main table th{
      padding: 10px;
      background-color: #ffd699;
      color: #001a66;
      text-align: left;

    }

    #main table td{
      padding: 10px;
    }

    #sidebar {
        width: 300px;
        float: left;
    }

    #sidebar table {
      width: 280px;
    }

    #sidebar table th{
      padding: 10px;
      background-color: #ffd699;
      color: #001a66;
      text-align: left;

    }

    #sidebar table td{
      padding: 5px;
    }
